DATABASE_URL=postgresql://postgres:Genuai@@1234@db.sbdwwtjjpofopnwpqrde.supabase.co:5432/postgres
FRONTEND_URL=http://localhost:3000
JWT_EXPIRES_IN=7d
JWT_SECRET=<run: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))">
NEXT_PUBLIC_API_URL=http://localhost:4000
